.About-contianers {
  position: relative;
  top: 30vh;
  left: 18%;
  width: fit-content;
}
.about-me-section {
  position: relative;
  top: 80vh;
  left: 15%;
  height: 60vh;
  color: white;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.about-head {
  display: flex;
  position: relative;
  gap: 5px;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  left: 15%;
  z-index: 10;
}

.about-text {
  position: relative;
  width: 700px;
  font-size: 0.8rem;
  background: rgba(0, 0, 0, 0.509);
  padding: 20px;
  font-size: 1rem;
  left: 15%;
}
@media (max-width: 780px) {
  .About-contianers {
    position: relative;
    top: 10vh;
    left: 35%;
  }
  .about-me-section {
    position:relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 10vh;
  }

  .about-text {
    width: 300px;
    font-size: 0.8rem;
    background: rgba(0, 0, 0, 0.509);
    width: 300px;
    padding: 20px;
    left: 5%;
  }
}

@media (max-width: 700px) {
  .About-contianers {
    position: relative;
    top: 0%;
    left: 0%;
    height: fit-content;
  }
  .about-me-section {
    position: absolute;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    top: 20vh;
  }
  .about-head {
    width: 100%;
    font-size: 1.2rem;
  }
  .about-text {
    width: 350px;
    font-size: 0.8rem;
    background: rgba(0, 0, 0, 0.509);
    width: 300px;
    padding: 20px;
  }
}
@media (max-width: 380px) {
  .About-contianers {
    position: relative;
    top:25vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    left: 0%;
    height: fit-content;
    bottom: 0;
  }
  .about-me-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: fit-content;
    top: 0%;
    left: 7%;
  }
  .about-head {
    font-size: 1.2rem;
    left: 5%;
  }
  .about-text {
    width: 200px;
    font-size: 0.7rem;
    background: rgba(0, 0, 0, 0.509);
  }
}
