.footer-container {
  position: relative;
  top: 130vh;
  height: 10vh;
  left: 25%;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.728);
  border: none;
  border-radius: 10px;
  margin: 20px;
}
.sociallinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: none;
  border-radius: 10px;
}

@media (max-width: 780px) {
  .footer-container {
    position: relative;
    left: 35%;
    top: 100vh;
    width: 55%;
    height: 10vh;
    padding-top: 10px;
    z-index: 100;
  }
}
@media (max-width:700px) {
  .footer-container {
    position: relative;
    left: 5%;
    top: 200vh;
    width: 350px;
    height: 15vh;
    padding-top: 10px;
  }
}
@media (max-width: 380px) {
  .footer-container {
    position: relative;
    left:0%;
    top: 140vh;
    width: 250px;
    height: 10vh;
    padding-top: 10px;
  }
  .sociallinks {
  gap: 10px;
  padding: 10px;
  
}

}
