.navbar-section {
  opacity: 0.5;
  background-color: rgba(36, 35, 35, 0.5);
  position: fixed;
  top: 20%;
  right: 20px;
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  border-radius: 50px;
  z-index: 1000;
  overflow: hidden;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  z-index: 1000;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 10px;
  gap: 40px;
  height: 100%;
}
.nav-img {
  background-color: white;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.3s ease;
  padding: 5px;
}

@media (max-width: 900px) {
  .navbar-section {
    position: fixed;
    right: 50px;
    top: 20%;
  }
}
@media (max-width: 700px) {
  .navbar-section {
    position: fixed;
    right: 10px;
    top: 20%;
  }
  .img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
  }
}
@media (max-width: 480px) {
  .navbar-section {
    position: fixed;
    right: 10px;
    top: 20%;
  }
  .img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
  }
}
@media (max-width: 380px) {
  .navbar-section {
    position: fixed;
    right: 5%;
    top: 25%;
  }
  .img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
  }
}
