.navbar-section {
  opacity: 0.5;
  background-color: rgba(36, 35, 35, 0.5);
  position: fixed;
  top: 20%;
  right: 20px;
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  border-radius: 50px;
  z-index: 1000;
  overflow: hidden;
}
.img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
}
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  z-index: 1000;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 10px;
  gap: 20px;
}

@media (max-width:780px) {
  .navbar-section{
    position: fixed;
    right: 50px;
    top: 20%;
    
  }
}
@media (max-width:700px) {
  .navbar-section{
    position: fixed;
    right: 10px;
    top: 20%;
    
  }
    .img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
}
}
@media (max-width:380px) {
  .navbar-section{
    position:fixed;
    right: 5%;
    top: 25%;
  }
  .img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
}
}

